@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #F0F2F5;
}

.search_box{
    margin: 20px;
    background-color: #fff;
    width: 20em;
    height:40px;
    display: flex;
    border: 1px solid #fff;
    border-radius: 8px;
}

.search_box input{
    flex:1;
    border:1px solid #fff;
    border-radius: 8px;
    outline:none;
    background-color: #fff;
}

.search_box button{
    background-color:#81533C;
    margin:5px;
    padding:0.5px 30px;
    border: 1px solid white;
    border-radius: 8px;
    color:#fff;
    letter-spacing: 1px;
    cursor:pointer;
}
 .search_box .fa-search { 
    align-self:center ;
    margin: 5px;
    padding: 0.5px 0px; 
    color: #000;
    background-color: #fff;
 }

/* table hiij ehelsen
.all_table{
    display: grid;
    grid-template-columns: 80% 1fr ;
}*/
.policy-container{
margin: 20px 200px 20px 200px;

}
.policy-table {
    color: grey;
    text-align: center;
  }
  
  .headings, .policy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
  }
  .headings{
    display:flex;
    margin-left:5px;
    margin-right: 125px;

  }
  
  .policy {
    border-radius: 2em;
    background-color: white;
    margin-bottom: 1%;
    box-shadow: 0 0 5px grey;
    height: 60px;

  }
  .headings span{
    padding: 8px;
    flex-basis: 34%;
    border-right:1px solid black;
  }
  .policy span {
    background-color: #fff;
    flex-basis: 20%;
    padding: 4px;
  }
  
  a {
    text-decoration: none;
    color: #4c4c4c;
  }
  
  .button{
    background-color:#81533C;
    padding: 1px 30px;
    border: 1px solid white;
    border-radius: 8px;
    color:#fff;
    letter-spacing: 1px;
    cursor:pointer;
  }
  